# Recommended for most uses
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# Parameters for constructing connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Parameters for Vercel / Neon Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

# Gemini and Auth0 Configuration
GEMINI_API_KEY=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=
AUTH0_SECRET=
VITE_AUTH0_AUDIENCE=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_DOMAIN=
